* {
	margin: 0px;
}

#header {
	text-align: center;
	height: 140px;
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	margin-bottom: 15px;
	font-family: Arial;
}

button {
	margin: 0 25px;
	font-family: Arial;
}

#header:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#container {
	font-size: 0px;
}

#border {
	border: 1px #979b9b solid;
	width: 600px;
	margin: 0 auto;
}

.box {
	display: inline-block;
}

.black {
	background-color: black;
}
