html {
	font-family: Arial;
}

body {
	background-color: #ffbf80;
	white-space: nowrap;
}

a {
	text-decoration: underline;
	color: black;
}

.answer {
	width: 200px; height: 20px;
	font-size: 13px;
}

.ghost {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

.heading {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

#header {
	height: 200px; width: 800px; margin-top: 25px;
	margin-left: auto; margin-right: auto;
	border: 2px black solid; border-radius: 15px;
	background-color: #4db8ff;
	text-align: center;
}

#main {
	position: relative; left: 30px; top: 30px;
	display: inline-block;
}

#footer {
	height: 150px;
}

#main p {
	font-size: 16px;
	font-family: 'Inconsolata' ;
}

.centered h1 {
	font-size: 40px; font-weight: normal;	
}

.centered h2 {
	font-size: 25px; font-weight: normal;
}
